#login {
    background: linear-gradient(120deg, #4c79d3 44.9%, #ffffff 45%) no-repeat fixed;
}

.text-login {
    color: #ffffff;
    font-size: 18px;
    font-weight: 500;
}

.coins {
    position: absolute;
    bottom: 10px;
}

.button-login {
    border-radius: 10px;
    background-color: #4e0070;
    color: #ffffff;
    width: 50%;
    margin: 0 25%;
}

.button-login:hover, .btn-default:hover {
    color: #ffffff;
    background: #4c79d3;
}

.link-default {
    color: #4e0070;
    cursor: pointer;
}

.link-default:hover {
    color: #4c79d3;
}

#app {
    background: linear-gradient(120deg, #ffffff 44.9%, #4c79d3 45%) no-repeat fixed;
}

header {
    border-bottom: 1px solid #bebcdc;
    padding: 5px;
    background-color: #ffffff;
}

.color-primary {
    color: #4e0070;
}

.color-secundary {
    color: #4c79d3;
}

.icon-detail {
    font-size: 50px;
    margin-right: 10px;
    vertical-align: middle;
}

.info {
    background-color: #ffffff;
    border-radius: 20px 20px 0px 0px;
    padding: 20px 0px 0px;
}

.btn-default {
    border-radius: 10px;
    background-color: #4e0070;
    color: #fff;
}

.btn-cancel {
    border-radius: 10px;
}

.btn-float {
    border-radius: 100%;
    height: 60px;
    width: 60px;
    position: fixed;
    bottom: 1rem;
    right: 2rem;
    font-size: 35px;
    background-color: #4e0070;
    color: #fff;
    padding: 0 !important;
    border: 2px solid #4e0070;
}

.btn-float:hover {
    background-color: #fff;
    border: 2px solid #4c79d3;
    color: #4c79d3;
}

.logout {
    min-width: 5rem !important;
}

.menu {
    margin-right: 20px;
}